body {
    font-size: 15px;
    margin: 0;
    padding: 0;
}
.prologue img {
    height: auto;
    width: 20rem;
    display: inline-block;
}
.prologue p {
    display: inline-block;
    text-align: justify;
}
.contenu {
    display: block;
    text-align: justify;
}
.contenu p {
    margin: 2rem 0;
}