/*Acueil*/

body{
    height:100%;
    font-size: 15px;

}
[class^="col-"], [class*=" col-"], .row{
    padding: 0;
    margin: 0;
}
.navigator{
    background-color:#F02A2A; 
    height:12rem;
    width:100%;
}
.navigator p{
    color: #FFFFFF;


    font-size: 2rem;
    margin:0;
}
.navigator .paragraph{
    border-bottom: 1px solid #FFFFFF;
    color: #FFF121;
    display: inline-block;
    font-size: 2rem;

}

.navigator-image img{
    height:12rem;
    padding:1rem;
    position:fixed;
}
.navigator-title p{
    color: white;

}
.navigator-title .title{
    color:#FFF121;
}



/*footer*/


footer {
    position: absolute;
    bottom: 0;
    width: 90%;
}
footer ul {
    margin: 0;
}
footer ul li {
    list-style: none;
    display: inline-block;
}
footer ul li img {
    height: auto;
    width: 4.5rem;
    margin: 0 0.5rem;
}
footer .sirius {
    text-align: right;
    margin-top: 0.5rem;
}
footer .sirius img {
    height: auto;
    width: 4.5rem;
    margin: 0 0.5rem;
}